.bg-dark{
    background-color: #232730;
}

.top-title h2{
    margin-left: 20px;
    font-size:20px
}

.title-color{color: #dedfe0}

#main-bar{
    /*background-color: #2a2f3a;*/
    width: 90%;
    height: 80px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.border-color{
    border: 2px solid #555861;
    
}

#main-bar input[type="text"]{
    width: 70%;
    outline: 0;
    margin-right: 20px;
    border-radius: 30px;
    padding-left: 10px;
    height: 30px !important;
    
    color: #cacaca;
}
#main-bar input::placeholder{
    color: #4b5976;
    color: #66789e;
   
}

#main-bar select{
    width: 20%;
    height: 36px;
    margin:0;
    color: #4b5976;
    border-radius: 5px;
    outline: 0;
    
}

.boton-seccion-activo{
    background-color: #6a7cab !important;
}
.boton-seccion{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dedfe0;
    width: auto;
    padding-left:10px;
    padding-right: 10px;
    margin: 0 5px;
    height: 36px;
    background: #3a4560;
    border-radius: 10px;
    cursor: pointer;
}
#add{
    width: 40px;
    cursor: pointer;
    margin-left: 20px;
}
/* LISTA TABLE */   
#main-list{
    display:block ;
    width: 90%;
    justify-content: center;
}

#main-list > div{margin: 30px 0; min-width: 350px;}
.selectedRow{background-color: #14161b; transition: 0.5s}

#main-list table tbody tr td{transition: 0.5s}

table{
    -webkit-box-shadow: 10px 14px 63px -49px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 14px 63px -49px rgba(0,0,0,0.75);
    box-shadow: 10px 14px 63px -49px rgba(0,0,0,0.75);
    border-collapse: collapse;
    width: 100%;
}
table td, table th {
    height: 30px;
    padding: 8px;
}
table th{
    background-color: #4b5976;
    color:#dedfe0;
}
table td{
    background-color: #2a3141;
    color:#dedfe0;
    font-weight: 300 !important;
    border-left: 0;
    border-right: 0;
    
}
.form-container{margin: 10px 10px}
.hidden-input{display:none;}
#main-delete{display:none}
.form-add p{ margin:0 ; padding: 10px 0 10px 0; color: white;}
#main-add, #main-delete{ width: 90%}
.form-add{background-color: #2a3141}
.form-add form{
    padding: 10px 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-add form > div{
    width: 100%;
}

#marca-add{display: none; }
#categoria-add{display: none; }
#subcategoria-add{display: none; }

.form-title-add{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    width: 100%;
    background-color: #4b5976;

    color: #dedfe0;
}



.input-default{
    width: 70%;
    outline: 0;
    margin-right: 20px;
    margin-left: 0;
    border-radius: 30px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0);
    height: 30px !important;
    color: #cacaca;
}


.input-submit{
    background-color: #6a7cab !important;
    color: white;
    margin: 20px;
    padding: 8px 20px;
    border: 0;
    outline: 0;
    border-radius: 10px;
}
.cancelar-btn{
    background-color: #e66f66 !important;
}
.group-input-one{
    padding: 5px 30px;
}
.group-input-one p{
    padding-left: 10px;
}

.group-input-button{
    display: flex;
    justify-content: center;
}



.results-not{
    width: 100%;
    height: 50px;
    background-color: rgb(230, 111, 102);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}