*{
    font-family: 'Monserrat', sans-serif;
   
}
#app{
    max-width: 100vw;
 
    display: flex;
}
.bg-color{background-color: #6D7AE0}
#menu *{color:white;}
#main{
    background-color:#f2f2f2;
    
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: ;
    align-items: center;
}

#menu img{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
#menu  div{
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items:  center;
    margin: 10px 20px;
}

#menu > div > p{
    margin-left: 5px;
}

#menu{

    align-items: flex-start;
    display:flex;
    flex-direction: column;
    height: 100vh;
    width: 10%;
    background-color: #353942;
    background-color: #4a5864;
}

#formulario-cliente{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 800px;
}


input[type=submit], button{
    background-color: #50B9CE;
    background-color: #6D7AE0;
    color: white;
}

form input,select,.boton{
    border:0;
    border-bottom: 1px solid black;
    
    margin: 10px 0;
    height: 40px;
    border-radius: ;
    width: 90%;
    padding-left:10px; 
}

.doble{display:flex;}
.doble input, .doble select{

    width: 50%;
}
.doble input:nth-child(1){margin-right:10px;}

.triple input{
 
    margin-right: 10px
} .triple input:nth-child(3){margin-right: 0;}

.triple {
    display:flex;
    border-bottom: .1px solid #d3d3d3;
}

a{
    text-decoration: none;
}
