<link rel="stylesheet" href="css/table.css">
<div id="busqueda-bar">
    <table class="customers">
        <tr class="bg-color">
            <th>Buscar</th>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>ID</th>
            <th>a</th>
            <th>a</th>
            <th>e</th>
        </tr>
        <tr>
            <td><input  type="text" id="cliente" placeholder="Buscar Cliente"></td>
            <td><input name="random" type="radio" id="nombre-input" checked></td>
            <td><input name="random" type="radio" id="telefono-input"></td>
            <td><input name="random" type="radio" id="id-input"></td>
            <td><input name="random" type="radio" id="id-input"></td>
            <td><input name="random" type="radio" id="id-input"></td>

        </tr>
    </table>
</div>
