
<script src="/js/clasificacion.js"></script>
<link rel="stylesheet" href="css/clasificacion.css">
<div class="top-title">
    <h2 class="title-color">Clasificaci칩n</h2>
</div>
<div id="main-bar" class="">

    <input type="text" id="busqueda-dinamica" class="bg-dark border-color" placeholder="Buscar...">

    
    <div id="seccion-btn" class="flex" style="height: 36px">
        <div class="boton-seccion" data-boton="marca">Marca</div>
        <div class="boton-seccion" data-boton="categoria">Categoria</div>
        <div class="boton-seccion" data-boton="subcategoria">Subcategoria</div>
    </div>



    <img id="add" src="/img/mas.svg" alt="">

</div>

{{> alerts }}

<div id="main-list">
<div id="marca-table">
        <table>
                <thead>
                    <tr>
                        <th>Marca</th>
                        <th>ID</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each marca}}
                    <tr>
                        {{#each this}}
                        <td>{{this}}</td>
                        {{/each}}
                    </tr>
                    {{/each}}
                </tbody>
        </table>    
</div>

<div id="categoria-table">
    <table>
        <thead>
            <tr>
                <th>Categoria</th>
                <th>ID</th>
            </tr>
        </thead>
        <tbody>
            {{#each categoria}}
            <tr>
                {{#each this}}
                <td>{{this}}</td>
                {{/each}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div id="subcategoria-table">
    <table>
        <thead>
            <tr>
                <th>Subcategoria</th>
                <th>Categoria</th>
                <th>ID</th>
            </tr>
        </thead>
        <tbody>
            {{#each subcategoria}}
            <tr>
                {{#each this}}
                <td>{{this}}</td>
                {{/each}}
            </tr>
            {{/each}}
        </tbody>
</table>
</div>
    
</div>

<div id="main-add" >
    <div id="marca-add" class="form-add">
        <div class="form-title-add">
            <h3>A침adir marca</h3>
        </div>
        <div class="form-container">
            <form class="formulario-marca" action="/clasificacion/marca" method="POST">
                <input type="text" class="hidden-input" name="seccion" value="marca">
                <div class="group-input-one">
                    <p>Nombre</p>
                    <input type="text" class="input-default border-color" name="nombre">
                </div>
                <div class="group-input-button">
                    <input type="submit" class="input-submit enviar-btn" >
                    <input type="submit" class="cancelar-btn input-submit" value="Cancelar">
                </div>
            </form>
        </div>

    </div>
    <div id="categoria-add" class="form-add">
        <div class="form-title-add">
            <h3>A침adir Categoria</h3>
        </div>
        <div class="form-container">
            <form id="formulario-categoria" action="/clasificacion/categoria" method="POST">
                <input type="text" class="hidden-input" name="seccion" value="categoria">
                <div class="group-input-one">
                    <p>Nombre</p>
                    <input type="text" class="input-default border-color" name="nombre">
                </div>

                <div class="group-input-button">
                    <input type="submit" class="input-submit enviar-btn" >
                    <input type="submit" class="cancelar-btn input-submit" id="cancelar" value="Cancelar">
                </div>
            </form>
        </div>

    </div>
    <div id="subcategoria-add" class="form-add">
        <div class="form-title-add">
            <h3>A침adir Subcategoria</h3>
        </div>
        <div class="form-container">
            <form id="formulario-subcategoria" action="/clasificacion/subcategoria" method="POST">
                <input type="text" class="hidden-input" name="seccion" value="subcategoria">
                <div class="group-input-one">
                    <p>Nombre</p>
                    <input type="text" class="input-default border-color" name="nombre">
                </div>
                <div class="group-input-one">
                    <p>ID Categoria</p>
                    <input type="text" class="input-default border-color" name="categoria">
                </div>
                <div class="group-input-button">
                    <input type="submit" class="input-submit enviar-btn">
                    <input type="submit" class="input-submit cancelar-btn"  value="Cancelar">
                </div>
            </form>
        </div>
    </div>    
</div>

<div id="main-delete">
    <div class=""> 
        <div class="form-title-add">
            <h3>Borrar</h3>
        </div>
        <div class="form-container">
            <form action="/clasificacion/eliminar" class="form-delete" method="POST">
                <div class="group-input-one">
                    <p>ID del elemento a borrar</p>
                    <input type="text" class="input-default border-color" name="id">
                </div>
                
                <input type="text" class="hidden-input" id="delete-seccion" name="seccion">
                <div class="group-input-button">
                    <input type="submit"  class="input-submit enviar-btn" style="background-color: #e66f66 !important;">
                   
                </div>
            </form>
        </div>
    </div>
</div>


<input type="text" id="prueba">